extends _inc/_layout.pug

block var
    -
        var title = ''
        var pageTitle = ''
        var description = ''
        var keywords = ''
        var absolute = ''
        var bodyID = 'top'
        
block main

    h1 Hello, Typescript!