extends _inc/_layout.pug

block var
    -
        var title = 'title'
        var pageTitle = 'pageTitle'
        var description = ''
        var keywords = ''
        var absolute = ''
        var pageID = 'other'
        var isRoot = true
        
block main

    h1 Hello, Typescript!