block var

doctype html
html(lang='ja')

    include _head
    
    body

        #wrap

            include _header.pug
                block header

            main#page
                #contents
                    .page-content(id=bodyID)
                        block main

            include _footer.pug
                block footer

            include _script.pug
                block script