block var

include _mixin.pug

doctype html
html(lang='ja')

    head
        include _head
        include _analytics.pug
    
    body
        include _noscript.pug

        #wrap

            include _header.pug
                block header

            main#page
                #contents
                    .page-content(id=pageID)
                        block main

            include _footer.pug
                block footer

            include _script.pug
                block script